<div class="content">
  <h1>Программа обучения</h1>
  <p>Курсы в течение года</p>
  <p>Расписание действует на: {{data}} <b>(дата подставляется шаблоном)</b></p>
  <table class="iksweb">
    <tbody>
      <tr class="head">
        <td class="centred-content">ФИО преподавателя</td>
        <td class="centred-content">Курс</td>
        <td class="centred-content">Дни занятий</td>
        <td class="centred-content">Время</td>
      </tr>
      <tr>
        <td>Крупская Н.</td>
        <td>Политическая история</td>
        <td>Пн.
          Чт.</td>
        <td>11.00 - 12.30</td>
      </tr>
      <tr>
        <td>Маркс К.</td>
        <td>Капитал. Критика политической экономии</td>
        <td>Вт.</td>
        <td>10.00 - 11.30</td>
      </tr>
      <tr>
        <td>Энгельс Ф.</td>
        <td>Происхождение семьи, частной собственности и государства</td>
        <td>Ср.
          Пт.</td>
        <td>14.30 - 16.00</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
