{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block style %}
    {% include "include/inc_style.html" %}
{% endblock %}
{% block content %}
<div>
    <h1>Список существующих категорий</h1>
    <ul class="cat-list">
        {% for itm in objects_list %}
            <li>
                {{ itm.name }}
                <span>Количество курсов: {{ itm.course_count() }}</span>
                <a class="btn-create" href="/courses-list/?id={{ itm.id }}">Показать курсы в категории</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <a class="btn-create" href="/create-category/">Создать категорию</a>
</div>

{% endblock %}
